.dateday {
    padding: 40px;
    padding-bottom: 15px;
  }
  .date {
    font-size: 30px;
    padding-right: 2px;
    padding-left: 0px;
    font-weight: bold;
  }
  .monthyear {
    font-size: 15px;
    line-height: 13px;
    margin-top: 10px;
    padding-left: 2px;
  }
.day {
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
    direction: rtl;
  }