.dateday {
    /* height: 50px; */
    font-weight: bolder;
    padding: 40px;
    padding-bottom: 15px;
    /* position: relative; */
  }
  .date {
    font-size: 30px;
    padding-right: 2px;
    padding-left: 0px;
  }
  .monthyear {
    font-size: 15px;
    line-height: 12px;
    margin-top: 10px;
    padding-left: 0px;
  }
.day {
    font-size: 15px;
    margin-top: 10px;
    /* margin-left: 40px; */
    /* float: right; */
    direction: rtl;
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(20%) */
  }