
.buttonplus {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    color: #47c28e;
    font-size: 40px;
    background-color: #50e3a4;
    border: 0px;
    position: absolute;    
  }
  
  .button {
    text-align: center;
    width: 20%;
    margin-left: 7em;
    margin-bottom: 32px;
  }